* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80);
  background-size: cover;
  background-attachment: fixed; */
}

.App {
  text-align: center;
  background: lightgray;
}

body{
  background: lightgray;
}